$base-color:  #a1a3a6;
$green-light: #b9d448;
$green-dark:  #81b36e;
$blue-light:  #429098;
$blue-dark:   #1375b8;


.bg-green--light {
  background-color: $green-light;
}

.bg-green--dark {
  background-color: $green-dark;
}

.bg-blue--light {
  background-color: $blue-light;
}

.bg-blue--dark {
  background-color: $blue-dark;
}
