@font-face {
  font-family: "DINPro";
  src:  url("/static/fonts/DINPro-Regular/DINPro-Regular_13937.ttf") format("truetype"),
        url("/static/fonts/DINPro-Regular/DINPro-Regular_13937.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
